#canopy-logo-and-name {
	width: 100%;
}

#canopy-diagram {
	width: 60%;
}

.canopy-container {
  display: flex;
  justify-content: center;
  margin-top: 2em;
}

.canopy-container p {
  align-self: center;
  color: black;
  font-weight: bold;
  margin-right: 50px;
}

.image.fit.thumb {
  border: 1px solid black;
}

#two {
  color: #20302C;
}


#two article {
  color: #20302C;
}

#avatar {
  border-radius: 100%;
  margin: 0 0 2em 0;
  width: 180px;
}

#one .major a {
  color: white;
}